<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="cs" />
	<link href="/css/screen.css" type="text/css" rel="stylesheet" media="screen,projection" />

	<title>Home</title>
</h:head>
<h:body>
	<div id="layout">

		<div id="header">

			<h1 id="logo">
				<a href="/secure/Succeed.xhtml" title="">JSF-TEST<span>.com</span></a>
			</h1>
			<hr class="noscreen" />

			<div id="navigation">
				<ul>
					<li><a href="#{userController.userMyApplicationsPage}" title="MY APPLICATIONS">MY APPLICATIONS</a></li>
					<li><a href="#{userController.userApplicationApprovePage}" title="APPLICATIONS APPROVE">APPLICATIONS APPROVE</a></li>
					<li><a href="/secure/Events.xhtml" title="EVENTS">EVENTS</a></li>
				</ul>
				<form action="${request.contextPath}/appLogout" method="POST">
					#{userController.loggedInUser.name} <input type="submit" value="Logout" /> <input type="hidden"
						name="${_csrf.parameterName}" value="${_csrf.token}" />
				</form>
			</div>
			<hr class="noscreen" />

		</div>
		<div id="main">
			<h1>Hello #{userController.loggedInUser.name}</h1>
			<h2>You have #{userController.loggedInUser.type} role.</h2>
		</div>
	</div>
	<div id="footer">
		<div id="footer-inside">
			<p align="center" id="copyright">
				2017 - <a href="https://www.linkedin.com/in/david-debreceni-140070145/">David Debreceni</a>
			</p>

		</div>
		<div style="clear: both;"></div>
	</div>
</h:body>
</html>
