<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="cs" />
	<link href="/css/screen.css" type="text/css" rel="stylesheet" media="screen,projection" />

	<title>ApplicationApprove</title>
</h:head>
<h:body>
	<div id="layout">

		<div id="header">

			<h1 id="logo">
				<a href="/secure/Succeed.xhtml" title="">JSF-TEST<span>.com</span></a>
			</h1>
			<hr class="noscreen" />

			<div id="navigation">
				<ul>
					<li><a href="#{userController.userMyApplicationsPage}" title="MY APPLICATIONS">MY APPLICATIONS</a></li>
					<li><a href="#{userController.userApplicationApprovePage}" title="APPLICATIONS APPROVE">APPLICATIONS APPROVE</a></li>
					<li><a href="/secure/Events.xhtml" title="EVENTS">EVENTS</a></li>
				</ul>
				<form action="${request.contextPath}/appLogout" method="POST">
					#{userController.loggedInUser.name} <input type="submit" value="Logout" /> <input type="hidden"
						name="${_csrf.parameterName}" value="${_csrf.token}" />
				</form>
			</div>
			<hr class="noscreen" />

		</div>
		<div id="main">
			<h1>Approved Applications</h1>
			<p:dataTable var="appl" value="#{applicationController.approvedApplications}" id="approvedApplications">
				<p:column headerText="User">
					<h:outputText value="#{appl.user.name}" />
				</p:column>
				<p:column headerText="Amount">
					<h:outputText value="#{appl.amount}" />
				</p:column>
				<p:column headerText="Status">
					<h:outputText value="#{applicationController.checkApprove(appl.approved)}" />
				</p:column>
				<p:column headerText="operations">
					<h:form>
						<p:commandButton value="Reject" action="#{applicationController.deleteApplication(appl.id)}"
							update=":waitingApplications, :approvedApplications">
							<p:confirm header="Confirmation" message="Are you sure? If you once rejected you can't change back!"
								icon="ui-icon-alert" />
						</p:commandButton>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
							<p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						</p:confirmDialog>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					</h:form>
				</p:column>
			</p:dataTable>
			<h1>Waiting for approve Applications</h1>
			<p:dataTable var="appl" value="#{applicationController.notApprovedApplications}" id="waitingApplications">
				<p:column headerText="User">
					<h:outputText value="#{appl.user.name}" />
				</p:column>
				<p:column headerText="Amount">
					<h:outputText value="#{appl.amount}" />
				</p:column>
				<p:column headerText="Status">
					<h:outputText value="#{applicationController.checkApprove(appl.approved)}" />
				</p:column>
				<p:column headerText="operations">
					<h:form>
						<p:commandButton value="Approve" action="#{applicationController.approveApplication(appl.id)}"
							update=":waitingApplications, :approvedApplications"></p:commandButton>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					</h:form>
					<h:form>
						<p:commandButton value="Reject" action="#{applicationController.deleteApplication(appl.id)}"
							update=":waitingApplications, :approvedApplications">
							<p:confirm header="Confirmation" message="Are you sure? If you once rejected you can't change back!"
								icon="ui-icon-alert" />
						</p:commandButton>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
							<p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						</p:confirmDialog>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					</h:form>
				</p:column>
			</p:dataTable>



		</div>
	</div>
	<div id="footer">
		<div id="footer-inside">
			<p align="center" id="copyright">
				2017 - <a href="https://www.linkedin.com/in/david-debreceni-140070145/">David Debreceni</a>
			</p>

		</div>
		<div style="clear: both;"></div>
	</div>
</h:body>
</html>