<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="cs" />
	<link href="/css/screen.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<title>Welcome Page</title>
</h:head>
<h:body>
	<div id="layout">

		<div id="header">

			<h1 id="logo">
				<a href="/Customlogin.xhtml" title="">JSF-TEST<span>.com</span></a>
			</h1>
			<hr class="noscreen" />

			<div id="navigation">
				<ul>
					<li><a href="" title="MY APPLICATIONS" onclick="loginPlease()">MY APPLICATIONS</a></li>
					<li><a href="" title="APPLICATIONS APPROVE" onclick="loginPlease()">APPLICATIONS APPROVE</a></li>
					<li><a href="" title="EVENTS" onclick="loginPlease()">EVENTS</a></li>
				</ul>
			</div>
			<hr class="noscreen" />

		</div>
		<div id="main">

			<font color="red"> <h:outputLabel value="${SPRING_SECURITY_LAST_EXCEPTION.message}" />
			</font>
			<form action="${request.contextPath}/appLogin" method="POST">
				<h:outputLabel value="Enter LoginName:" />
				<input type="text" name="app_username" /><br /> <br />
				<h:outputLabel value="Enter Password:" />
				<input type="password" name="app_password" /> <br /> <br /> <input type="submit" value="Login" /> <input
					type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			</form>
			<h3>
				<br /> Welcome on my page.I already have 3-3 type of user for you.<br /> Applicants
				users(loginname:appl1,appl2,appl3) Approver users(loginname:appr1,appr2,appr3) password is the same like the
				loginname.<br /> Let's login!<br />
			</h3>
		</div>
	</div>
	<div id="footer">
		<div id="footer-inside">
			<p align="center" id="copyright">
				2017 - <a href="https://www.linkedin.com/in/david-debreceni-140070145/">David Debreceni</a>
			</p>

		</div>
		<div style="clear: both;"></div>
	</div>
	<script>
function loginPlease(x) {
	alert("You have to log in first!")
}
	</script>
</h:body>
</html>
